.main{
    height: 100vh;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: space-between ;
    text-align: center;
    text-align: end;
}
.main1{
    height: 400px;
    width: 600px;
    background-color: rgb(19, 233, 240);

    

}
.bag{
    background-color: rgb(129, 11, 241); 
    text-align: center;

    padding: 40px;
    width: 100%;
    
}
.main2{
    text-align:left;
}