.main{
    height: 100vh;
    width: 100%;
    background-color:rgb(233, 235, 233);
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3,1fr);
}
.main1{
    height: 400px;
    width: 600px;
    background-color: rgb(86, 216, 188);

    

}
.bag{
    background-color: rgb(129, 11, 241); 
    text-align: center;

    padding: 40px;
    width: 100%;
    
}
.main2{
    text-align:left;
}